* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/924/847/681/aero-abstract-background-blue-wallpaper-preview.jpg") !important; */
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
}
.h1{
    margin: none;
    padding:none;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
    width:100%;
    top:0;
    position: fixed;
}
footer{
    padding: 10px !important;
    background-color: #0a0a23 !important;
    border-top: 4px solid #fdb347 !important;
    text-align: center;
    color: #fff;
    position:fixed;
    width:100%;
    bottom: 0;
}
.icon{
    height: 50px;
}

.header img, .header h1{
    display: inline-block;
    vertical-align: middle;
    padding:10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10vh 10px;
}

.MessageHeader{
    width: 100%;
    text-align: center;
    font-size:xx-large;
}
.MessageBody{
    width: 100%;
    margin-top:15px;
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.slide_content{
    padding:10vh 0;
}

.gallery img,.gallery video, .gallery div.slide_content {
    width: 20%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

    /* for transistions */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.maximize {
    position: absolute;
    top: 0px;
    margin: auto !important;
    font-size: 60px;
    height: 95vh;
    width:auto !important;
    max-width:none !important;
    height: 100vh !important;
    border-radius: 0 !important;
    transform: translateZ(10px) !important;
    top:0;
    position: fixed;
}

.maximize div.MessageBody{
    white-space: unset;
}
.noscroll {
    height: 100%;
    overflow-y: hidden;
}


.gallery::after {
    content: "";
    width: 350px;
}

/* RESET */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
